@import "tailwindcss";
@import "lenis/dist/lenis.css";

/* lenis */
html.lenis,
html.lenis body {
  height: auto;
}
/*.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}*/

:root {
  --bg-primary: #faf6f0;
  --bg-secondary: #eae6e0;
  --bg-tertiary: #dad6d0;
  --fg-primary: #484646;
  --fg-secondary: #686666;
  --fg-tertiary: #8f8f9f;
  --accent-primary: #93c5fd;
  --accent-secondary: #f0e080;
  --border: #5f4f6f;

  --p-xxs: 0.25rem;
  --p-xs: 0.5rem;
  --p-sm: 0.75rem;
  --p-md: 1.5rem;
  --p-lg: 3rem;
  --p-xl: 6rem;
}

@theme {
  --color-bg-primary: var(--bg-primary);
  --color-bg-secondary: var(--bg-secondary);
  --color-bg-tertiary: var(--bg-tertiary);
  --color-fg-primary: var(--fg-primary);
  --color-fg-secondary: var(--fg-secondary);
  --color-fg-tertiary: var(--fg-tertiary);
  --color-accent-primary: var(--accent-primary);
  --color-accent-secondary: var(--accent-secondary);
  --color-border: var(--border);

  --font-display: var(--font-display);
  --font-sans: var(--font-sans);
  --font-code: var(--font-code);

  --spacing-xxs: var(--p-xxs);
  --spacing-xs: var(--p-xs);
  --spacing-sm: var(--p-sm);
  --spacing-md: var(--p-md);
  --spacing-lg: var(--p-lg);
  --spacing-xl: var(--p-xl);
}

@layer base {
  * {
    @apply p-0 m-0 box-border duration-200;
  }

  html,
  body {
    @apply bg-bg-primary text-fg-primary overflow-x-hidden text-lg;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display;
  }

  button,
  a {
    @apply cursor-pointer;
  }

  a {
    @apply relative z-0 p-xxs transition-all;

    background-image: linear-gradient(
      var(--accent-primary),
      var(--accent-primary)
    );
    background-repeat: no-repeat;
    background-position: 0 90%;
    background-size: 0% 85%;

    &:hover {
      background-size: 100% 85%;
    }

    &.secondary {
      background-image: linear-gradient(
        var(--accent-secondary),
        var(--accent-secondary)
      );
    }
  }

  mark {
    --current-highlight: var(--accent-primary);

    @apply relative text-fg-primary z-0 p-xxs bg-transparent;

    background-image: linear-gradient(
      -100deg,
      color-mix(in srgb, var(--current-highlight) 20%, transparent),
      var(--current-highlight) 95%,
      color-mix(in srgb, var(--current-highlight) 80%, transparent)
    );
    background-repeat: no-repeat;
    background-size: 100% 85%;
    background-position: 0 90%;
    /*border-radius: 2px;*/

    &.secondary {
      --current-highlight: var(--accent-secondary);

      &::after {
        @apply bg-accent-secondary;
      }
    }

    &::after {
      @apply w-full;
    }
    &:hover::after {
      @apply w-full;
    }
  }

  u {
    @apply relative inline z-0;

    text-decoration: none;
    padding-bottom: 0.15em;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 20' preserveAspectRatio='none'%3E%3Cpath d='M0,5 Q50,18 100,5' stroke='%23484646' stroke-width='5' fill='none' stroke-linecap='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 100% 0.3em;
    background-position: 0 100%;
  }

  s {
    text-decoration: none;

    @apply relative inline z-0 opacity-80;

    &::after {
      content: "";

      @apply absolute -left-[0.15em] -right-[0.15em] top-[20%] bottom-[10%] pointer-events-none;

      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 20' preserveAspectRatio='none'%3E%3Cpath d='M0,6 Q25,14 50,9 T100,15' stroke='black' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");

      -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 20' preserveAspectRatio='none'%3E%3Cpath d='M0,6 Q25,14 50,9 T100,15' stroke='black' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      -webkit-mask-size: 100% 100%;

      background-color: var(--fg-primary);
      mask-size: 100% 100%;
    }
  }

  ul {
    @apply list-disc pl-md;
  }

  img {
    clip-path: polygon(2% 3%, 99% 2%, 97% 98%, 3% 96%);
  }

  ::selection {
    @apply bg-accent-primary;
  }

  ::-webkit-scrollbar {
    @apply w-1;
  }

  ::-webkit-scrollbar-track {
    @applly bg-bg-secondary;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-accent-primary rounded-lg;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-accent-primary;
  }

  ::selection {
    @apply bg-accent-primary;
  }
  ::-moz-selection {
    @apply bg-accent-primary;
  }
}

@layer components {
  .outlined {
    -webkit-text-stroke: 2px var(--fg-primary);

    &::selection {
      @apply bg-accent-secondary;
    }
  }

  .dotted {
    @apply border-2 border-dotted border-accent-secondary;
  }

  .tooltip {
    @apply fixed pointer-events-none z-50 text-sm py-xs px-sm shadow-md transition-transform;

    transform: translate(-50%, 0) rotate(-1deg);

    &::before {
      content: "";

      @apply absolute inset-0 bg-accent-primary -z-10;

      clip-path: polygon(2% 4%, 98% 2%, 96% 94%, 3% 97%);
    }

    &::after {
      content: "";

      @apply absolute left-1/2 -top-1.5 -translate-x-1/2 w-3 h-2 bg-accent-primary -z-10;

      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }
  }
}

@layer utilities {
  .markdown {
    @apply flex flex-col gap-md;

    h1 {
      @apply text-3xl;
    }
    h2 {
      @apply text-2xl;
    }
    h3 {
      @apply text-xl;
    }

    img {
      @apply max-h-[45dvh] mx-auto;
    }

    a {
      @apply underline;
    }

    ul,
    ol {
      @apply marker:text-accent-primary;
    }

    code {
      @apply bg-bg-secondary px-xxs font-code text-sm;
    }
    pre code {
      @apply block p-sm;
    }

    blockquote {
      @apply border-l-5 border-accent-primary px-sm py-xxs italic;
    }
    .markdown-alert {
      @apply flex flex-col gap-xs border-l-5 border-accent-primary px-sm py-md bg-bg-secondary hover:bg-bg-tertiary;

      .markdown-alert-title {
        @apply text-2xl font-display;
      }

      &.markdown-alert-danger {
        @apply border-red-400 bg-red-400/10;

        .markdown-alert-title {
          @apply text-red-500;
        }
      }

      &.markdown-alert-warning {
        @apply border-orange-400 bg-orange-400/10;

        .markdown-alert-title {
          @apply text-orange-500;
        }
      }

      &.markdown-alert-note {
        @apply border-blue-400 bg-blue-400/10;

        .markdown-alert-title {
          @apply text-blue-500;
        }
      }
    }

    table {
      /*@apply border-separate border-spacing-sm;*/

      th {
        @apply font-display font-normal text-xl bg-bg-tertiary;
      }

      th,
      td {
        @apply p-sm border-b border-accent-primary;
      }

      tr {
        @apply whitespace-nowrap hover:bg-bg-secondary;
      }

      tr:nth-child(even) {
        @apply bg-bg-secondary hover:bg-bg-tertiary;
      }
    }
  }

  .circled {
    @apply relative inline-block;

    &::after {
      content: "";
      position: absolute;
      inset: -0.3em -0.4em;
      background-color: var(--accent-primary);
      -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 80' preserveAspectRatio='none'%3E%3Cpath d='M30 12 C70 2 150 3 180 22 C200 38 190 62 150 70 C100 80 40 74 15 55 C0 40 8 20 40 10 C60 4 85 2 105 5' fill='none' stroke='black' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
        center / 100% 100% no-repeat;
      mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 80' preserveAspectRatio='none'%3E%3Cpath d='M30 12 C70 2 150 3 180 22 C200 38 190 62 150 70 C100 80 40 74 15 55 C0 40 8 20 40 10 C60 4 85 2 105 5' fill='none' stroke='black' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
        center / 100% 100% no-repeat;
      pointer-events: none;
    }

    &.secondary::after {
      background-color: var(--accent-secondary);
    }
  }
}
